.container {
    
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

}

.container img {
    max-width: 200px;
    max-height: 100px;
}

#title {
    text-align: center;
    font-size: 40px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#convert-btn {
    margin: 10px;
}

